.DS_Store
**/.DS_Store
FIP_outputs_test_travis.pkl
FIP_outputs.pkl
FIP_outputs_fish.pkl
.idea
**/.idea
__pycache__
**/__pycache__
**/**/__pycache__
results_inference
results_inference2
results_inference3
checkpoints
checkpoints_new_dataloader
checkpoints_encoder
data
data2
wandb
.vscode
FIP_outputs_2.pkl
FIP_outputs.pkl
checkpoints_encoder_latest
results_inference4
results_inference5


